html {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
    font-size: 100%;
    background-color: #FCFCFC;
    overflow-y: scroll;
}

#header {
	display: block;
    clear: none;
	padding-bottom: 0px;
}

.title {
	float: left;
	width: 100%;
}

.rounded-img {
	margin-top: 1em;
	margin-right: 1.2em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
    float: left;
    width: 80px;
	border-radius: 50%;
    border: 3px solid #BBBBBB;
}

.description {
	color: #1A1A1A;
	line-height: 20px;
}

#navigation-bar {
	display: block;
	width: 100%;
	clear: both;
}

.links {
	font-weight: bold;
}

.links ul {
	margin-top: 10px;
	float: left;
	padding: 0;
	display: block;
}

.links li {
	display: inline;
	margin-left: 16px;
}

.links li:first-child {
	margin-left: 0px;
}

#content {
	width: 100%;
	clear: both;
}

body {
  line-height: 1.2em;
  padding: 1em;
  margin: auto;
  max-width: 45em;
}

h1 {
  margin-top: 0.8em;
  line-height: 1.2em;
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}

h4,
h5,
h6 {
  font-weight: bold;
}

a {
    color: #00459E;
	text-decoration: none;
}

a:hover {
    color: #0066CC;
	text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::selection {
  background: rgba(255, 255, 0, 0.4);
  color: #000;
}

a::selection {
  background: rgba(255, 255, 0, 0.4);
  color: #0645AD;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

.spaced-li {
   margin:0 0 5px 0;
}

li p:last-child {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

p {
  line-height: 1.2em;
  margin: 1em 0em;
}

.entry {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
    line-height: 1.2em;
	color: #1A1A1A;
	border-left: 10px solid #002147;
	border-radius: 2px 2px 2px 2px;
	padding: 4px 10px 10px 10px;
	margin-bottom: 1em;
	background-color: #F0F0F0;
}

.entry h2 {
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	margin: 10px auto 5px auto;
}

.footer {
    line-height: 1.2em;
    font-size: small;
}
